:root {
    --border-color: #333;
    --primary-bg-color: #000;
    --secondary-bg-color: #111;
    --primary-text-color: #fff;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-bg-color: #ccc;
        --secondary-bg-color: #fff;
        --primary-text-color: #000;
        --border-color: #ccc;
    }
}